<div class="col-sm-3"></div>
<div class="col-sm-6 main">
  <div class="container">
    <button class="btn" style="background-color: #7e91af; margin-top: 2%; margin-left: 12.5%; color: lightgray"
      routerLink="/">Logout</button>
    <button class="btn" style="background-color: #7e91af; margin-top: 2%; margin-left: 7%; color: lightgray"
      routerLink="/students">Manage Students</button>
  </div>
  <p style="margin-top: 10rem; text-align: center; font-size: 2.5rem">
    <b>ÜK Overview</b>
  </p>
  <div *ngFor="let uk of uks; let i = index" class="col-sm-12">
    <span *ngIf="i % 2 == 0">
      <span style="margin-left: 30%; background-color: lightgray" (click)="goToUk(uks[i])">{{uks[i].name}}</span>
      <span style="margin-left: 30%; background-color: lightgray"
        (click)="goToUk(uks[i + 1])">{{uks[i + 1].name}}</span>
    </span>
    <br>
    <br>
  </div>
</div>
<div class="col-sm-3"></div>