<div class="col-sm-3"></div>
<div class="col-sm-6 main">
  <p style="margin-top: 10rem; text-align: center; font-size: 2.5rem">
    <b>Signup to ÜK Overview</b>
  </p>
  <img style="display: block; margin-left: auto; margin-right: auto; width: 10rem" src="assets/imgs/login-icon.png" />
  <p style="margin-top: 5rem; text-align: center; font-size: 1.5rem">
    <b>Username</b>
  </p>
  <input type="text" [(ngModel)]="username">
  <p style="text-align: center; font-size: 1.5rem">
    <b>Password</b>
  </p>
  <input type="password" [(ngModel)]="password">
  <br>
  <br>
  <button style="background-color: #7e91af; color: lightgray; margin-left: 40%; width: 20%; text-align: center"
    (click)="submit()">SUBMIT</button>
</div>
<div class="col-sm-3">
</div>