<div class="col-sm-3"></div>
<div class="col-sm-6 main">
  <p style="margin-top: 10rem; text-align: center; font-size: 2.5rem">
    <b>{{ name }}</b>
  </p>
  <span *ngFor="let uk of uks; let i = index;" style="margin-left: 10%">
    <div class="container">
      <span (click)="goToUk(uk.uk)">
        {{ uk.uk.name }}
      </span>
      <span style="position: absolute; margin-left: 70%" class="row">
        <span *ngIf="uk.grade; else noGrade" style="margin-left: 50%">
          <div contenteditable="true" name="grades">
            {{ uk.grade }}
          </div>
        </span>
        <ng-template #noGrade>
          <div contenteditable="true" name="grades">
            NaN
          </div>
        </ng-template>
      </span>
    </div>
  </span>
  <br>
  <button style="background-color: #7e91af; color: lightgray; margin-left: 40%; width: 20%" (click)="save()"><span
      style="text-align: center">SAVE</span></button>
</div>
<div class="sm-col-3"></div>