<div class="col-sm-3"></div>
<div class="col-sm-6 main">
  <div class="container">
    <button class="btn" style="background-color: #7e91af; margin-top: 2%; color: lightgray"
      routerLink="/uks">Home</button>
    <button class="btn" style="background-color: #7e91af; margin-top: 2%; margin-left: 12.5%; color: lightgray"
      routerLink="/">Logout</button>
    <button class="btn" style="background-color: #7e91af; margin-top: 2%; margin-left: 7%; color: lightgray"
      routerLink="/students">Manage Students</button>
  </div>
  <p style="margin-top: 5rem; text-align: center; font-size: 2.5rem">
    <b>{{ukName}}</b>
  </p>
  <span *ngFor="let student of students; let i = index;" style="margin-left: 10%">
    <div class="container">
      <span (click)="goToProfile(student.id)">
        {{ student.name }}
      </span>
      <span style="position: absolute; margin-left: 70%" class="row">
        <span *ngIf="student.grade; else noGrade" style="margin-left: 50%">
          <div contenteditable="true" name="grades">
            {{ student.grade }}
          </div>
        </span>
        <ng-template #noGrade>
          <div contenteditable="true" name="grades">
            NaN
          </div>
        </ng-template>
      </span>
    </div>
  </span>
  <div class="container">
    <mat-form-field>
      <mat-label>New Student</mat-label>
      <mat-select [(value)]="newStudent">
        <mat-option *ngFor="let student of allStudents" value="{{ student.id }}">
          {{student.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span style="position: absolute; margin-left: 72%; margin-top: 3%" class="row">
      <div contenteditable="true" name="grades">
        0.0
      </div>
    </span>
  </div>
  <br>
  <button style="background-color: #7e91af; color: lightgray; margin-left: 40%; width: 20%" (click)="save()"><span
      style="text-align: center">SAVE</span></button>
</div>
<div class="sm-col-3"></div>